*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header, nav, h2, .main-visual, footer {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

header{
  height:50px;
  background-color: #FF9A4B;
}

main{
  display:flex;
  padding:50px 0;
  width:960px;
  margin:0 auto;
}

.step1, .step2, .step3{
  background-color: #EEEEEE;
}

.step2{
  margin:0 30px;
}

.step1-img{
  background-image: url(img/flow01.png);
  height:150px;
  width:280px;
  background-size: 100% 100%;
  margin:10px auto;
}

.step2-img{
  background-image: url(img/flow02.png);
  height:150px;
  width:280px;
  background-size: 100% 100%;
  margin:10px auto;
}

.step3-img{
  background-image: url(img/flow03.png);
  height:150px;
  width:280px;
  background-size: 100% 100%;
  margin:10px auto;
}

h3{
padding:5px 10px;
}

p{
  padding:0 10px;
}

footer{
  height:50px;
  background-color: #AAAAAA;
}

/* スマホのレスポンシブ設定 */
@media screen and (max-width:768px){
*{
  width:100%;
}

 main{
   display:block;
   width:90%;
 }

 .step2{
  margin:20px 0;
 }

 .step1,.step2,.step3{
   padding-top:5px;
 }
}